* {
    font-family: Georgia, serif;
    text-align: center;
}

body {
    background-color: beige;
    margin: 0 auto;
    width: 960px;
}

nav {
    background-color: white;
    padding: 1px;
}

li {
    display: inline;
    margin: 5px;
}

section {
    overflow: auto;
}

article {
    float: left;
    margin: 5px;
    width: 310px;
}